{% extends "core/base.html" %}
{% load crispy_forms_tags %}

{% block content %}


  <div class="container">
    <div class="card bg-light">
      <article class="card-body mx-auto" style="max-width: 400px;">

         {% if messages %}
          {% for message in messages %}

          <div class="alert alert-{{ message.tags }}">
              {{ message }}
          </div>

          {% endfor %}
          {% endif %}

    <div class="content-section">
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Sign In</legend>
              {{ form|crispy }}
        </fieldset>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" value="Save"> Log In  </button>

        </div>

      </form>
      <div class="border-top pt-3">
          <small class="text-muted">
              Need An Accound? <a class="ml-2" href="{% url 'register' %}">Sign Up</a>
          </small>

      </div>
    </div>

  </article>
</div>
</div>

{% endblock content %}
